@font-face {
    font-family: "circe";
    src: url("../fonts/Circe.zip");
}

@font-face {
    font-family: "gilam";
    src: url("../fonts/gilam-bold.zip");
}

body {
    overflow-x: hidden;
}


.container {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    margin: 0 15px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'circe';
}

.header__logo {
    width: 100%;
    max-width: 216px;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
}

.header__call {
    color: #FFFFFF;
}

.call-details {
    color: #D6AF76;
}

.header__callback {
    margin-left: 39px;
    max-width: 218px;
    height: 50px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
}

.callback {
    color: #E4B564;
    margin-left: 10px;
}


.outdoor__wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0 15px;
    background-color: #171717;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.outdoor {
    width: 100%;
    max-width: 1460px;
    font-family: 'gilam';
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 173px repeat(2, 29.25rem);
    grid-template-areas:
        'outdoor outdoor outdoor outdoor outdoor outdoor'
        'earthwork earthwork underground underground channel channel'
        'support support support well well well'
    ;
}

.outdoor__details {
    max-width: 1460px;
    grid-area: outdoor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-family: 'gilam';
    font-style: normal;
    font-size: 50px;
    line-height: 28px;
}

.subtitle {
    font-family: 'gilam';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

.earthwork {
    background-color: #634F2C;
    grid-area: earthwork;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.underground {
    background-color: #B4A385;
    grid-area: underground;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.channel {
    background-color: #E4B564;
    grid-area: channel;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.support {
    background-color: #635A4A;
    grid-area: support;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.well {
    background-color: #B08C4D;
    grid-area: well;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.machinery__wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 70px 15px 20px 15px;
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #171717;
    padding: 50px 0;
}

.machinery {
    width: 100%;
    max-width: 1460px;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
    color: white;
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(7, 125.1px);
    grid-template-areas:
        'fleet fleet fleet'
        'silt chennelcar backhoe'
        'silt chennelcar backhoe'
        'silt chennelcar loadertruck'
        'loader chennelcar loadertruck'
        'loader excavator loadertruck'
        'loader excavator rink'
        'loader excavator rink'
    ;
}

.machinery__details {
    grid-area: fleet;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    margin-bottom: 74px;
}

.silt__car {
    background-color: #0E0E0E;
    grid-area: silt;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
}

.silt__car-description {
    font-weight: bold;
}

.chennel__car {
    background-color: #242424;
    grid-area: chennelcar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
}

.chennel__car-description {
    font-weight: bold;
}

.backhoe-loader {
    background-color: #1F1F1F;
    grid-area: backhoe;
    display: flex;
    justify-content: start;
    padding: 40px;
}

.loader {
    background-color: #1F1F1F;
    grid-area: loader;
    display: flex;
    justify-content: start;
    padding: 40px;
}

.excavator {
    background-color: #E4B564;
    grid-area: excavator;
    display: flex;
    justify-content: start;
    padding: 40px;
}

.loader-truck {
    background-color: #0E0E0E;
    grid-area: loadertruck;
    display: flex;
    justify-content: start;
    padding: 40px;
}

.rink {
    background-color: #0A0909;
    grid-area: rink;
    display: flex;
    justify-content: start;
    padding: 40px;
}

.clients__wrapper {
    background-color: #0E0E0E;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients {
    width: 100%;
    padding: 50px 15px 20px 15px;
    font-family: 'gilam';
    font-size: 20px;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(2, 391px);
    grid-template-areas:
        'partners partners partners'
        'eid mavis estate'
        'estate2 set eid2'
    ;
}

.clients__details {
    grid-area: partners;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    margin-bottom: 74px;
}


.details-projects {
    margin-left: 39px;
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.euroinvest {
    background: rgba(99, 79, 44, 0.76);
    grid-area: eid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis {
    background: rgba(232, 210, 171, 0.76);
    grid-area: mavis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis-logo__wrapper img:first-of-type {
    width: 100%;
    max-width: 60px;
}

.mavis-logo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.adress-description {
    font-weight: bold;
}

.arsenal {
    background: rgba(228, 181, 100, 0.76);
    grid-area: estate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arsenal2 {
    background: rgba(228, 181, 100, 0.76);
    grid-area: estate2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-group {
    background: rgba(176, 140, 77, 0.76);
    grid-area: set;
    display: flex;
    justify-content: center;
    align-items: center;
}

.euroinvest2 {
    background: rgba(99, 79, 44, 0.76);
    grid-area: eid2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}